.Loginbody{}


  .btn {
    border: 1px solid #fbceff;
    text-decoration: none;
    color: rgb(66, 43, 66);
    background: #fbceff;;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-weight: 700;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  